{% load static%}
<html>

<head>
    <meta name="viewport" content="width=device-width , initial-scale =1.0">
    <title>Sufyan Ali</title>
    <link rel="shortcut icon" href="{% static 'images/si.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/color-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- In the head section of your HTML file -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap">
    <!-- Style Switcher -->
    <link rel="stylesheet" href="{% static 'css/skins/color-1.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'css/skins/color-2.css' %}" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="{% static 'css/skins/color-3.css' %}" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="{% static 'css/skins/color-4.css' %}" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="{% static 'css/skins/color-5.css' %}" class="alternate-style" title="color-5" disabled>
    <link rel="stylesheet" href="{% static 'css/style-switcher.css' %}">
</head>

<body>
    
    <div class="main-container">
        <!-- <div class="whatsapp-container">
            <a href="https://api.whatsapp.com/send?phone=03198622206" target="_blank" class="whatsapp-button"><p>Chat Us</p>
                <i class="fab fa-whatsapp"></i>
            </a>
        </div> -->
        <div class="aside">
            <div class="logo">
                <a href="#"><span>S</span>ufyan</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about" onclick="animateSkills()"><i class="fa fa-user"></i> About</a></li>
                <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                <li><a href="#contact"><i class="fa fa-comments"></i>Contact</a></li>
            </ul>
        </div>
        <div class="main-content">
            <!-- Home section start -->
            <section class="home active section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">Sufyan Ali</span></h3>
                            <h3 class="my-profession">I' m a <span class="typing">web developer</span></h3>
                            <p>As a passionate full stack web developer, I am dedicated to turning your dreams into
                                reality by
                                translating innovative ideas into visually striking and seamlessly functional websites.
                            </p>
                            <a href="#contact" data-section-index="1" class="hire-me"><button  class="btn">Contact Us</button></a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="{% static 'images/fff77.jpg' %}" alt="" >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <!-- Home section End -->
        <!-- About section start -->
        <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>About Me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="about-content padd-15">
                        <div class="row">
                            <div class="about-text padd-15">
                                <h3>I'm Sufyan Ali and <span> Full Stack Web Developer</span></h3>
                                <p>
                                    I'm Sufyan Ali, a Full Stack Web Developer with expertise in Python, Django,
                                    JavaScript, HTML, CSS, Bootstrap, and PHP. I am dedicated to creating dynamic and
                                    responsive websites that seamlessly integrate innovative design and functionality.
                                    Leveraging my skills in both front-end and back-end development, I bring a holistic
                                    approach to crafting engaging online experiences.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="personal-info padd-15">
                                <div class="row">
                                    <div class="info-item padd-15">
                                        <p>Age : <span>21</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Website : <span>sufyanali.vercel.app</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Phone : <span>+92 319 8622206</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Degree : <span>BSCS</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Freelance : <span>Available</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>City : <span>Faisalabad</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Email : <span>sufyan7586432@gmail.com</span></p>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="buttons padd-15">
                                        <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                                    </div>
                                </div>
                            </div>
                            <div class="skills padd-15">
                                <div class="row">
                                    <div class="skill-item padd-15">
                                        <h5>PYTHON</h5>
                                        <div class="progress">
                                            <div class="progress-in"></div>
                                            <div class="skill-percent">80%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>DJANGO</h5>
                                        <div class="progress">
                                            <div class="progress-in"></div>
                                            <div class="skill-percent">70%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>JS</h5>
                                        <div class="progress">
                                            <div class="progress-in"></div>
                                            <div class="skill-percent">65%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>HTML</h5>
                                        <div class="progress">
                                            <div class="progress-in"></div>
                                            <div class="skill-percent">91%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>CSS</h5>
                                        <div class="progress">
                                            <div class="progress-in"></div>
                                            <div class="skill-percent">77%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="education padd-15">
                                <h3 class="title">Education</h3>
                                <div class="row">
                                    <div class="timeline-box padd-15">
                                        <div class="timeline shadow-dark">
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2021-2025
                                                </h3>
                                                <h4 class="timeline-title">Bachelor of Science in Computer Science</h4>
                                                <p class="timeline-text">
                                                    Engaged in mastering the Art of Computer Science, I am gaining valuable insights that fuel
                                                    my passion for technology. This educational journey is shaping me
                                                    into a proficient and innovative thinker in the field.</p>
                                            </div>
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2019-2021
                                                </h3>
                                                <h4 class="timeline-title">FSc Pre-Engineering</h4>
                                                <p class="timeline-text">
                                                    Completed the Art of FSC Pre-Engineering at KIPS College,
                                                    Faisalabad, I've undergone a transformative journey, refining both
                                                    my academic prowess and personal development. Fueled by gratitude, I
                                                    am eager to take on new challenges and contribute meaningfully to
                                                    society.
                                                </p>
                                            </div>
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2017-2019
                                                </h3>
                                                <h4 class="timeline-title">Matriculation</h4>
                                                <p class="timeline-text">
                                                    I've successfully completed the Art of Matriculation at Royal
                                                    Grammar School, Faisalabad, fostering a strong academic foundation
                                                    and personal growth. Grateful for the experience, I'm prepared to
                                                    embrace new challenges and contribute to society.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="experience padd-15">
                                <h3 class="title">Experience</h3>
                                <div class="row">
                                    <div class="timeline-box padd-15">
                                        <div class="timeline shadow-dark">
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2023-continue
                                                </h3>
                                                <h4 class="timeline-title">AI Soft Software House</h4>
                                                <p class="timeline-text">Currently serving as a Full Stack Web Developer
                                                    at AI Soft Software House, I leverage Python and Django expertise to
                                                    craft seamless, innovative web solutions. My role involves
                                                    developing robust back-end functionalities and designing engaging
                                                    front-end interfaces for dynamic user experiences.</p>
                                            </div>
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2022-2023
                                                </h3>
                                                <h4 class="timeline-title">Internship at Bird View Logic Software House
                                                </h4>
                                                <p class="timeline-text">
                                                    I do an internship at Bird View Logic Software House, honing my
                                                    skills as a Full Stack Web Developer by seamlessly integrating HTML,
                                                    CSS, JS, and PHP to create dynamic and user-friendly web solutions.
                                                    Contributing to diverse projects, I'm gaining valuable hands-on
                                                    experience in the ever-evolving field of web development.</p>
                                            </div>
                                            <!--timeline itme-->
                                            <div class="timeline-item">
                                                <div class="circle-dot"></div>
                                                <h3 class="timeline-date">
                                                    <i class="fa fa-calendar"></i>2019-2022
                                                </h3>
                                                <h4 class="timeline-title">Crafting Projects for Local Clients</h4>
                                                <p class="timeline-text">Collaborate with local clients to create
                                                    personalized, handcrafted items tailored to their unique needs and
                                                    preferences, from decorative home accents to functional event
                                                    necessities.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>
        <!---------------------------------- About section End ---------------------------------->

        <!--------------------------------- Services section start ----------------------------->
        <section class="service section" id="services">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Services</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-mobile-alt"></i>
                            </div>
                            <h4>Website Development</h4>
                            <p>Crafting exceptional websites for your digital presence and success.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <h4>Python Developer</h4>
                            <p>Empowering projects with expert Python development and innovative solutions.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h4>Django Developer</h4>
                            <p>Creating robust solutions as a Django developer for your projects.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-palette"></i>
                            </div>
                            <h4>Website Design</h4>
                            <p>Elevate your brand with our sleek and modern web design service.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4>Web Application</h4>
                            <p>Empower your business with our dynamic and versatile web application service.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                    <!-- Services Item Start -->
                    <div class="service-item padd-15">
                        <div class="service-item-inner" onmousemove="handleMouseMove(event)"
                            onmouseleave="resetTransform(event)">
                            <div class="icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4>Desktop Application</h4>
                            <p>Transform your operations with our powerful desktop application service.</p>
                        </div>
                    </div>
                    <!-- Services Item End -->
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            
        </section>
        <!------------------------------- Services section End -------------------------------------->

        <!------------------------------ Portfolio section start -------------------------------->
        <section class="portfolio section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Portfolio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-heading padd-15">
                        <h2>My Last Projects :</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/STO_UAF_Website.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href="https://stouaf.com/"> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> Senior Tutor Office UAF Website </h3>
                            <p> Senior Tutor Office at the University of Agriculture, Faisalabad, fostering organized and seamless student engagement across campus activities."
                            </p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Php</p>
                                <p style="color:#A32261;">#Js</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Bootstrap</p>
                            </div>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/Alfahaam.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href="https://fruityalfahaam.info/"> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> Al Fahaam Food Stuff </h3>
                            <p> Al Fahaam Food Stuff – a dynamic online platform built to showcase and sell premium food products, featuring a clean user interface and smooth browsing experience.
                            </p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Php</p>
                                <p style="color:#A32261;">#Js</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Bootstrap</p>
                            </div>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-1.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href="https://www.superstarworldwidelimousine.com/"> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> SuperStar WorldWide Website</h3>
                            <p>Experience luxury on wheels with our worldwide superstar limousines, where every journey is a red-carpet experience.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Js</p>
                                <p style="color: #CA9B0E;">#Html</p>
                                <p style="color: #DB6569;">#Css</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/crowd_detector.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> Crowd Detector System </h3>
                            <p> Crowd Detector System – an intelligent web-based solution designed to monitor and analyze crowd density in real-time, enhancing public safety and space management.
                            </p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Flask</p>
                                <p style="color: #29558E;">#ML</p>
                                <p style="color: #CA9B0E;">#API's</p>
                                <p style="color: #DB6569;">#Html</p>
                            </div>
                            <p style="color: #6066BB;">#Css</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/smart_food_detection.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> Smart Food Insigh System </h3>
                            <p> Smart Food Insight System – an AI-powered web platform that analyzes food images to provide detailed nutritional insights, supporting healthier food choices and diet planning.
                            </p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Flask</p>
                                <p style="color: #29558E;">#ML</p>
                                <p style="color: #CA9B0E;">#AI</p>
                                <p style="color: #DB6569;">#API's</p>
                            </div>
                            <p style="color: #6066BB;">#Html</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/british_council.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3> British Council Website </h3>
                            <p> British Council Website – an informative and user-friendly platform designed to showcase educational programs, events, and resources with a professional layout and responsive design.
                            </p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Laravel</p>
                                <p style="color:#A32261;">#Php</p>
                                <p style="color: #29558E;">#Js</p>
                                <p style="color: #CA9B0E;">#Html</p>
                                <p style="color: #DB6569;">#Css</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/sweet_delights.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Sweet Delights</h3>
                            <p>Developed 'Sweet Delights' website, enhancing user experience with delectable visuals and seamless navigation.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Js</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-3.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Blue Wheels Website</h3>
                            <p>Dive into the dynamic world of 'Blue Wheels,' where each webpage spins a tale of creativity, technology, and vibrant blue hues.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Php</p>
                                <p style="color:#A32261;">#Html</p>
                                <p style="color: #29558E;">#Css</p>
                                <p style="color: #CA9B0E;">#Js</p>
                                <p style="color: #DB6569;">#Bootstrap</p>
                            </div>    
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/Beriana_cars_website.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Beriana Cars</h3>
                            <p>Created 'Beriana Cars' website, offering a sleek design and user-friendly features to streamline car browsing and purchasing.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Js</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/online_pharmacy_store.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Online Pharmacy Store</h3>
                            <p>Built 'Online Pharmacy Store' website, ensuring a secure and user-friendly platform for convenient medication ordering and delivery.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Js</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                     <!-- Portfolio item Start -->
                     <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-2.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Oh Secret Website</h3>
                            <p>Unlock the allure of our 'Oh Secret' website project, where every click unveils a captivating digital experience shrouded in mystery and innovation.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                                <p style="color: #DB6569;">#Js</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-4.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Fake audio Detector Web App</h3>
                            <p>Expose the truth with our Fake Audio Detector Web App, safeguarding authenticity in the digital soundscape.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Html</p>
                                <p style="color: #CA9B0E;">#Css</p>
                            </div>
                            <p style="color: #DB6569;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-7.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Login Page Web Design</h3>
                            <p>Crafting a seamless entry point to your digital world with our Login Page Web Design project, where simplicity meets security in every click.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Html</p>
                                <p style="color:#A32261;">#Css</p>
                                <p style="color: #29558E;">#Js</p>
                                <p style="color: #CA9B0E;">#Bootstrap</p>
                            </div>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-5.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Patient CheckUp ChatBot</h3>
                            <p>Empowering healthcare with our Patient Checkup Chatbot project a compassionate companion ensuring efficient and personalized health assessments.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Python</p>
                                <p style="color:#A32261;">#Django</p>
                                <p style="color: #29558E;">#Js</p>
                                <p style="color: #CA9B0E;">#Html</p>
                                <p style="color: #DB6569;">#Css</p>
                            </div>
                            <p style="color: #6066BB;">#Bootstrap</p>
                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                    <!-- Portfolio item Start -->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                          <div class="face portfolio-img">
                            <img src="{% static 'images/portfolio/portfolio-6.png' %}" alt="">
                          </div>
                          <div class="face portfolio-details">
                            <a href=""> <div class="fas fa-eye eye-icon"></div></a>
                           
                            <h3>Sufiyan Wiving Web App</h3>
                            <p>Embark on a journey of matrimonial bliss with the Sufiyan Wiving Web App project, where love meets technology to unite hearts.</p>
                            <div class="write-language">
                                <p style="color: #1DB087;">#Php</p>
                                <p style="color:#A32261;">#Html</p>
                                <p style="color: #29558E;">#Css</p>
                                <p style="color: #CA9B0E;">#Js</p>
                                <p style="color: #DB6569;">#Bootstrap</p>
                            </div>

                          </div>
                        </div>
                      </div>                      
                    <!-- Portfolio item End -->
                </div>
                <br>
                <br>
            </div>
        </section>
        <!------------------------------- Portfolio section End ------------------------->

        <!------------------------------- Contact section Start ------------------------->
        <section class="contact section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Contact Me</h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15" style="letter-spacing: 1px;">Have You Any Questions?</h3>
                
                <div class="row">
                    <!-- Contact info item Start -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Call Us On</h4>
                        <p>+92 319 8622206</p>
                    </div>
                    <!-- Contact info item End -->
                    <!-- Contact info item Start -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>sufyan7586432@gmail.com</p>
                    </div>
                    <!-- Contact info item End -->
                    <!-- Contact info item Start -->
                    <!-- <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-globe-europe"></i></div>
                        <h4>Website</h4>
                        <p>www.domain.com</p>
                    </div> -->
                    <!-- Contact info item End -->
                    <!-- Contact info item Start -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <h4>Address</h4>
                        <p>Faisalabad, Pakistan</p>
                    </div>
                    <!-- Contact info item End -->
                </div>
                <h3 class="contact-title padd-15" style="letter-spacing: 4px;">SEND ME AN EMAIL</h3>
                <h4 class="contact-sub-title padd-15" style="text-decoration: 0.1px white underline; letter-spacing: 1px;">I'M AT YOUR SERVICES</h4>
                <!----------------------------- Contact Form------------------------------------>
                <form method="post" action="{% url 'send_email' %}" name="emailContact">
                    {% csrf_token %}
                <div class="row">
                    
                    <div class="contact-form padd-15">
                        <div class="row">
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Enter Your Name" required>
                                </div>
                            </div>
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Enter Your Email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <input name="subject" type="text" class="form-control" placeholder="Enter Subject Here" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Enter Message Here" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <button type="submit" class="btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
                <br>
                <br>
            </div>
        </section>
        <!---------------------------------- Contact section End --------------------------->
    </div>
    </div>

    <!--------------------------------------------- Style Switcher Start ----------------------------->
    <div class="style-switcher" style="margin-top: 30px;">
        <div class="style-switcher-toggler s-icon" style="height: 40px; width: 40px;">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon" style="height: 40px; width: 40px;">
            <i class="fas"></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>
    <!--------------------------------- Style Switcher End ---------------------------------->

    <!--------------------------------- JS Files link -------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js"
        integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/style-switcher.js' %}"></script>


    <!-------------------------------- Service Card animation Start --------------------------------->


    <script>function handleMouseMove(event) {
            const card = event.currentTarget;
            const boundingBox = card.getBoundingClientRect();

            const offsetX = event.clientX - boundingBox.left - boundingBox.width / 2;
            const offsetY = event.clientY - boundingBox.top - boundingBox.height / 2;

            const rotateX = offsetY / boundingBox.height * 30;
            const rotateY = offsetX / boundingBox.width * 30;
            const skewX = offsetX / boundingBox.width * 10;
            const skewY = offsetY / boundingBox.height * 10;
            const scale = 1.05;

            const shadowX = offsetX / boundingBox.width * 10;
            const shadowY = offsetY / boundingBox.height * 10;
            const shadowBlur = 20;
            const shadowColor = '#EC1839'; // Adjusted for a light shadow on a black background

            card.style.transition = 'transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)';
            card.style.transform = `perspective(1000px) rotateX(${rotateX}deg) rotateY(${-rotateY}deg) skew(${skewX}deg, ${skewY}deg) scale(${scale})`;
            card.style.boxShadow = `${shadowX}px ${shadowY}px ${shadowBlur}px ${shadowColor}`;
        }
        function resetTransform(event) {
            const card = event.currentTarget;
            card.style.transition = 'transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.5s ease'; // Add box-shadow transition
            card.style.transform = 'perspective(1000px) rotateX(0) rotateY(0) skew(0, 0) scale(1)';
            card.style.boxShadow = '0 10px 20px rgba(0, 0, 0, 0.2)'; // Set initial box shadow
        }

    </script>

    <!------------------------- Service Card animation End ------------------------------->

    <!------------------------ Function to animate skills Start ----------------------------->
    <script>

        function animateSkills() {
            const skillItems = document.querySelectorAll('.skill-item');

            skillItems.forEach((skillItem) => {
                const progressIn = skillItem.querySelector('.progress-in');
                const skillPercent = skillItem.querySelector('.skill-percent');

                // Trigger the animation by setting the width after a short delay
                setTimeout(() => {
                    progressIn.style.width = skillPercent.textContent;
                }, 100); // Adjust the delay as needed
            });
        }
    </script>
    <!----------------------------- Function to animate skills End ---------------------------------->

<!------ Function to animate about section two divs and combine both onclick on about nav Start ----->
    <script>
         // Function to handle intersection changes
         function handleIntersection(entries, observer) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate');
                }
            });
        }

        // Create an intersection observer with the handleIntersection callback
        const observer = new IntersectionObserver(handleIntersection, { threshold: 0.2 });

        // Observe the elements you want to animate
        const educationSection = document.querySelector('.about-content .education');
        const experienceSection = document.querySelector('.about-content .experience');

        observer.observe(educationSection);
        observer.observe(experienceSection);

    </script>

    <!------ Function to animate about section two divs and combine both onclick on about nav End ----->

    <!---------------------------- Function to Download Cv by button Start ---------------------------->

    <script>
       document.getElementById('downloadButton').addEventListener('click', function() {
    // Replace 'your-pdf-file-url.pdf' with the URL of your PDF file
    const pdfUrl = "{% static 'CV.pdf' %}";

    // Create a link element
    const link = document.createElement('a');

    // Set the link's attributes
    link.href = pdfUrl;
    link.download = 'Sufyan Cv.pdf';

    // Append the link to the document body
    document.body.appendChild(link);

    // Programmatically click the link to trigger the download
    link.click();

    // Remove the link from the document body
    document.body.removeChild(link);
});
    </script>
    <!---------------------------- Function to Download Cv by button End ---------------------------->
</body>

</html>